body {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    font-weight: 100;
    font-family: serif;
    background-color: #849d8f;
}

h1 {
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 100;
    font-family: serif;
}

h2 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 200;
    font-family: serif;
}