body {
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    font-weight: 100;
    font-family: serif;
    background-color: #849d8f;
}

h1 {
    font-size: 21px;
    color: #FFFFFF;
    font-weight: 100;
    font-family: serif;
}

h2 {
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 200;
    font-family: serif;
}

/*1200x120*/
/*900x120*/
.header {
    background-color: antiquewhite;
    margin-left: 27px;
    margin-right: 27px;
}

/*1200x77*/
/*900x77*/
.header .container {
    background-color: burlywood;
    min-width: 846px;
    max-width: 1146px;
    margin: 0 auto;
    height: 77px;
}

.header .container-contacts {
    background-color: burlywood;
    min-width: 846px;
    max-width: 1146px;
    margin: 0 auto;
    height: 77px;
}

.header .container .logo {
    background-color: chocolate;
    float: left;
    width: 154px;
    height: 64px;
    margin-top: 10px;
    margin-left: -6px;
}

.header .container .nav-item{
    display: inline-block;
}

.header .container .navigation {
    float: left;
    background-color: chocolate;
    padding: 0;
    margin-left: 30px;
    margin-top: 32px;
    /*Временно*/
    width: 350px;
    height: 18px;
}

.header .container .nav-list {
    width: auto;
    padding: 0;
}

.header .container .sub-menu {
    display: none;
}

.header .container .search-box {
    display: none;
}

.header .container .sing-in-box {
    display: none;
}

/*.header .container .search {*/
    /*background-color: chocolate;*/
    /*width: 33px;*/
    /*height: 34px;*/
    /*float: right;*/
    /*margin-top: 23px;*/
    /*margin-right: 230px;*/
/*}*/

/*.header .container .sing-in {*/
    /*background-color: chocolate;*/
    /*width: 117px;*/
    /*height: 34px;*/
    /*float: right;*/
    /*margin-top: 23px;*/
/*}*/

.header .container .cart {
    background-color: chocolate;
    width: 117px;
    height: 34px;
    float: right;
    margin-top: 23px;
}

.header .contacts {
    background-color: chocolate;
    width: 166px;
    height: 40px;
    float: right;
    margin-top: 21px;
}
/* Пока непонятно почему clearfix в таком виде не работает */

/*.clearfix::after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/

.clearfix {
    clear: both;
}

.center-fix {
    background-color: floralwhite;
    margin-left: 27px;
    margin-right: 27px;
}

.slider {
    margin-top: -83px;
    background-color: gainsboro;
    height: 564px;
    min-width: 846px;
    max-width: 1146px;
    margin-left: auto;
    margin-right: auto;
}

.index-content {
    background-color: antiquewhite;
    min-width: 846px;
    max-width: 1146px;
    margin-left: auto;
    margin-right: auto;
}

.index-content .stock {
    background-color: chocolate;
}

.index-content .stock .wrap-frame {
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.index-content .stock .wrap-frame:nth-child(1) {
    padding-right: 12px;
}

.index-content .stock .wrap-frame:nth-child(2) {
    padding-left: 12px;
}

/*560x230*/
/*420x230*/
.index-content .stock .frame {
    background-color: burlywood;
    height: 230px;
    min-width: 420px;
}

.index-content .hits-block {
    margin-top: 40px;
    background-color: burlywood;
    height: 325px;
}

.index-content .hits-block .product-item-wrap {
    box-sizing: border-box;
    width: 25%;
    float: left;
    padding-right: 19px;
    margin-right: 6px;
}

.index-content .hits-block .product-item-wrap:nth-child(3n) {
     box-sizing: border-box;
     width: 25%;
     float: left;
     padding-right: 19px;
     margin-right: 0;
 }

.index-content .hits-block .product-item-wrap:nth-child(4n) {
    box-sizing: border-box;
    width: 25%;
    float: right;
    padding-right: 0;
    padding-left: 19px;
    margin-right: 0;
    /*padding-right: 0;*/
    /*padding-left: 19px;*/
    /*margin-left: -24px;*/
    /*margin-right: -10px;*/
    display: none;
}

.index-content .hits-block .product-item {
    /*box-sizing: border-box;*/
    /*width: 23.4%;*/
    /*float: left;*/
    /*margin-left: 0;*/
    margin-right: 0;
    /*padding-right: 100px;*/
}

/*.index-content .hits-block .product-item-wrap:nth-child(1) {*/
    /*box-sizing: border-box;*/
    /*width: 23.4%;*/
    /*float: left;*/
    /*margin-left: 0;*/
/*}*/

.index-content .hits-block .product-item {
    background-color: chocolate;
    min-height: 325px;
}

.index-content .advertising {
    margin-top: 36px;
    background-color: burlywood;
    height: 246px;
    padding: 30px 20px;
}

.index-content .title {
    background-color: chocolate;
    height: 55px;
}












.index-content .other-info {
    margin-top: 40px;
    padding: 0;
    background-color: chocolate;
    height: 222px;
}

.index-content .other-info .wrap-frame {
    margin-top: 0;
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.index-content .other-info .frame {
    margin-top: -12px;
    background-color: gainsboro;
    height: 222px;
}

.index-content .other-info .wrap-frame:nth-child(1) {
    padding-right: 12px;
}

.index-content .other-info .wrap-frame:nth-child(2) {
    padding-left: 12px;
}

.map {
    margin-top: 38px;
    background-color: antiquewhite;
    margin-right: auto;
    margin-left: auto;
    min-height: 368px;
    padding-top: 62px;
}

.map-description-container {
    background-color: burlywood;
    min-width: 846px;
    max-width: 1146px;
    margin: 0 auto;
}

.map-description {
    background-color: chocolate;
    width: 302px;
    height: 306px;
    float: right;
}